/* REGULAR SECTION********************************************************/
html, body {margin: 0; padding: 0; height: 100%; text-align: center;}
section {min-height: 100%;}
a {text-decoration: none;}
li {list-style-type: none;}

h1, h2, h3, a {font-family: "Roboto", sans-serif; font-weight: 500; color: #F5A9BC; text-transform: uppercase;}
h1 {text-shadow: 5px 5px 30px #424242;}
h2 {color: white; text-shadow: 0px 0px 8.5px #F5A9BC;}
h3 {font-size: 40px; padding-top: 8%; margin-bottom: 5px;}
h4, p {font-family: "Roboto Slab", serif; color: #585858;}

hr {width: 30px; height: 3px; background: #585858; border: 0; margin: 0 auto 40px auto;}
#logo, #login_button, #register_button, #signup_button, #back_button, li, img, .button, .fa-bars {
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}
.fa-bars {display: none;}


/* HEADER SECTION********************************************************/
header {width: 100%; height: 65px; position: fixed; top: 0; left: 0; background: white; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); z-index: 1;}

#logo {width: 140px; float: left; margin: 10px 0 0 50px;}
#logo:hover {opacity: 0.5;}
#logo img {width: 100%;}

header nav {float: right; margin: 10px 50px 0 0;}
header nav ul li {float: left; margin-left: 24px;}
header nav ul li a{font-size: 16px;}
header nav ul li:hover {padding-top: 5px;}


/* HOME SECTION********************************************************/
#home {background: url(../img/landing.jpg); background-position: center center; background-size: cover; background-attachment: fixed;}

#home h1 {margin: 240px auto 0 auto; font-size: 110px;}
#home h2 {margin: 0 auto 0 auto; font-size: 25px;}

#home img {width: 32px; margin-top: 150px; opacity: 0.7;}
#home img:hover {opacity: 1;}


/* ABOUT SECTION********************************************************/
#about img {
  width: 240px;
}

#about img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#about h4 {
  font-size: 25px;
}

#about p {
  width: 700px;
  margin: 0 auto 0 auto;
}


/* WORK SECTION********************************************************/
#work {
  background-color: #F2F2F2;
}

#projects {
  width: 900px;
  margin: 0 auto 0 auto;
}

#projects ul {
  padding: 0;
}

#projects ul li {
  width: 50%;
  float: left;
  margin-bottom: 15px;
}

#projects img {
  width: 280px;
  height: 170px;
  border-radius: 5px;
}

#projects img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}



/* SOCIALMEDIA SECTION********************************************************/
#sm_icons {
  margin: 0 auto 0 auto;
}

#sm_icons ul {
  padding: 0;
}

#sm_icons ul li {
  list-style-type: none;
  margin-bottom: 15px;
  width: 33.3%;
  float: left;
  text-align: center;
}

#sm_icons ul li a {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #333;
  font-size: 30px;
  border-radius: 50%;
  color: #f0f0f0;
  transition: .5s;
}

#sm_icons ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #F5A9BC;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

#sm_icons ul li a:hover:before {
  transform: scale(1.1);
  box-shadow: 0 0 20px #F5A9BC;
}

#sm_icons ul li a:hover {
  color: #F5A9BC;
  box-shadow: 0 0 5px #F5A9BC;
}


/* CONTACT SECTION********************************************************/
#contact {
  background-color: #F2F2F2;
}


form input, textarea {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 2px solid;
  border-color: #494949;
  outline: none;
}

form input:first-child {
  margin-top: 10px;
}

form input {
  width: 552px;
  height: 30px
}

form textarea {
  width: 550px;
  height: 190px;
  resize: none;
}

.input_text {
  color: #585858;
  padding-left: 10px;
}

::-webkit-input-placeholder {color: #999999;}
::-moz-placeholder {color: #999999;}
:-ms-input-placeholder {color: #999999;}
:-moz-input-placeholder {color: #999999;}

.button {
  background-color: #f0f0f0;
  color: #585858;
  width: 566px;
  height: 50px;
}

.button:hover {
  background-color: #F5A9BC;
  color: #f0f0f0;
}



/* FOOTER SECTION********************************************************/
footer {
  width: 100%;
  height: 35px;
  background-color: #3f3f3f;
  padding: 20px 0;
}

footer nav {
  float: left;
}

footer nav ul li {
  margin-left: 15px;
  display: inline-block;
}

footer nav ul li a {
  font-size: 13px;
  color: #fff;
}


/* MEDIA QUERIES SECTION********************************************************/

/* TABLETS ********************************************************/
@media screen and (max-width: 1024px) {
  header {height: auto;}

  #logo {width: 100px; margin-top: 5px;}

  header nav {margin-top: 0;}
  header nav ul li {font-size: 12px;}

  #home h1 {font-size: 90px; margin-top: 200px;}
  #home h2 {font-size: 22px;}
  h3 {padding-top: 12%;}

  #about p {width: 80%;}

  #projects {width: auto;}
  #projects ul li {width: 100%; float: none;}
  #projects ul li:last-child {padding-bottom: 20%;}
  #projects img {width: 55%; height: auto;}

  form input, form textarea{width: 60%}

  .button {width: 62%}
}


/* MOBILES ********************************************************/
@media only screen and (max-width: 480px) {
  #logo {width: 90px; margin-left: 30px;}

  header nav {margin: 0; float: none;}

  .fa-bars {
    font-size: 17px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: right;
    float: right;
    margin: -25px 30px 0 0;}
  .fa-bars:hover {opacity: 0.5;}

  header nav ul {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;}

  header nav ul.open {height: auto;}

  header nav ul li {
    width: 100%;
    padding: 5px 0;
    margin: 0;
    font-size: 11px;
    border-top: 1px solid #dddddd;}
  header nav ul li:hover {background-color: #FAFAFA;}

  #home h1 {font-size: 60px; margin-top: 200px;}
  #home h2 {width: 70%; height: auto;}
  #projects img {width: 70%; height: auto;}

  #sm_icons {width: 70%; height: auto;}

  form input, form textarea {width: 70%;}
  .button {width: 72%;}

  footer {width: 100%; height: 50%;}
  footer nav ul li {margin-left: auto;}
  footer nav ul li a {font-size: 10px;}
}
